# Configuration de l'API
REACT_APP_API_URL=https://hairgov2.onrender.com

# Configuration de l'environnement
NODE_ENV=development

# Google Analytics (optionnel)
REACT_APP_GA_ID=

# Clés API externes (optionnel)
REACT_APP_MAPS_API_KEY=
